body{
    background:rgb(0, 0, 0);
    color:aliceblue;
    margin:0px;
    font-family: "Tiny5", sans-serif;
    margin-bottom: 100px;
}

.chamada{
    background: rgb(63, 185, 255);
    margin-top: 80px;
    margin-bottom: 80px;
    display: flex;
    justify-content: center;
}
header{
    color:azure;
    font-size: 40px;
    margin-bottom: 3px;
    padding: 20px;
}
.chamada-texto{
    margin-right: 5%;
}
h1{
    font-size: 35px;
}
.categoria{
    padding-right: 20px;
    padding-left: 20px;
    margin-top: 50px;
}
.categoria-videos{
    display: flex;
    overflow-x: auto;
    gap: 10px;
}
.categoria-videos img{
    height: 200px;
    opacity: 0.5;
}
.categoria-videos img:hover{
    opacity: 1.0;
    border: 3px solidy purple;
}
